# application.yml
server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/news
    username: root
    password: 1234
    redis:
    host: localhost
    port: 6379
    # password: 123456  # 如果有密码
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0